RewriteEngine On

# Redirect requests to the public directory
RewriteRule ^(.*)$ public/$1 [L]

# Rewrite all requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
